/* Header.css */

.header {
  background-image: linear-gradient(to bottom, #2262b1, #41c5fa, #2ab4eb);
  padding: 20px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
}

.header h3 {
  margin: 0;
  font-weight: bold;
  color: #333333;
}