/* Header.css */

.header {
  background: rgb(153, 213, 255);
  padding: 20px;
  text-align: left;
  border: 3px solid black;
  margin-bottom: 20px;
}

.header h3 {
  margin: 0;
  font-weight: bold;
  color: #333333;
}
